body {
  overflow-x: hidden;
  font-family: 'Open Sans Condensed', sans-serif;
}
.text-muted {
  color: white;
}
.purple {
  color: #5c26b4;
}
p {
  font-size: 1em;
  line-height: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: 500;
}
.img-centered {
  margin: 0 auto;
}
.section-heading {
  line-height: 1.5em;
}
.section-subheading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.btn-xl {
  background-color: #5c26b4;
  color: white;
  padding: 0.5em 2em;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #5c26b4;
}
.wb {
  border-color: white;
}
.wb.btn-xl:hover,
.wb.btn-xl:active {
  color: #5c26b4;
  background-color: white;
}
.btn-form {
  color: #7b7b7b;
  background-color: #222222;
  border-color: #7b7b7b;
  margin: 0 auto;
  padding: 0.5em 1.5em;
}
.btn-form:hover,
.btn-form:focus,
.btn-form:active {
  color: white;
  background-color: #7b7b7b;
}
.navbar-custom .navbar-brand {
  color: white;
  font-family: Arial, sans-serif;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-collapse {
  border-color: #5c26b4;
}
.navbar-custom .navbar-toggle,
.navbar-custom .navbar-toggle:focus {
  background-color: #5c26b4;
  border-color: #5c26b4;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 1em;
}
.navbar-custom .navbar-toggle:hover {
  background-color: white;
  color: #5c26b4;
}
.navbar-custom .nav li a {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  background: #222222;
  color: white;
  outline: white;
}
.navbar-custom .navbar-nav > .active > a {
  color: white;
  background-color: #222222;
}
.navbar-custom .navbar-nav > .active > a:hover {
  color: white;
  background-color: #222222;
}
@media (min-width: 768px) {
  .navbar-custom {
    border-color: transparent;
    background-color: transparent;
    padding: 1.7em 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 10%;
  }
  .navbar-custom.affix {
    background-color: #5c26b4;
    border-color: #4e2099;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7438d5), to(#5c26b4));
    background-image: -webkit-linear-gradient(top, #7438d5, 0%, #5c26b4, 100%);
    background-image: -moz-linear-gradient(top, #7438d5 0%, #5c26b4 100%);
    background-image: linear-gradient(to bottom, #7438d5 0%, #5c26b4 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7438d5', endColorstr='#ff5c26b4', GradientType=0);
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
@media (max-width: 768px) {
  .navbar-custom {
    background-color: #5c26b4;
    border-color: #4e2099;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7438d5), to(#5c26b4));
    background-image: -webkit-linear-gradient(top, #7438d5, 0%, #5c26b4, 100%);
    background-image: -moz-linear-gradient(top, #7438d5 0%, #5c26b4 100%);
    background-image: linear-gradient(to bottom, #7438d5 0%, #5c26b4 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7438d5', endColorstr='#ff5c26b4', GradientType=0);
  }
}
header {
  background:
    linear-gradient(
      rgba(92, 38, 180, 0.50),
      rgba(92, 38, 180, 0.50)
    ),
    url('../assets/office.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  padding-top: 8em;
  padding-bottom: 16em;
}
header .section-subheading {
  padding: 0em;
}
header .intro-heading {
  font-size: 5em;
  padding-top: 0.7em;
  padding-bottom: 0em;
}
@media (min-width: 768px) {
  header .section-subheading {
    margin: 2em auto;
    text-align: center;
    max-width: 100%;
    width: 50%;
  }
}
@media (max-width: 767px) {
  header .section-subheading {
    margin: 2em auto;
    text-align: center;
    max-width: 100%;
    width: 60%;
  }
}
section {
  padding: 4em 0em;
}
.section-heading {
  margin-top: 0em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  section {
    padding: 10em 0em;
  }
}
.service-heading {
  margin: 1em 0em;
  text-transform: none;
}
section#about {
  background-color: #5c26b4;
  color: white;
  padding: 4em 0;
}
@media (min-width: 768px) {
  #about h2#about-heading-text {
    display: none;
  }
  #about h2#about-heading-img {
    display: block;
  }
}
@media (max-width: 767px) {
  #about {
    width: 100%
  }
  #about h2#about-heading-text {
    display: block;
  }
  #about h2#about-heading-img {
    display: none;
  }
  #about img {
    width: 50%;
    height:auto;
  }
  #about h4 {
    text-align: center;
    margin: auto;
    width: 90%;
  }
}
#services {
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 3em;
}
#services .section-heading{
  margin-bottom: 0.2em;
}
#services .section-subheading {
  color: #7b7b7b;
  width: 45%;
  margin: auto;
  padding-bottom: 4em;
}
.service-description {
  color: #7b7b7b;
  width: 45%;
  margin: auto;

  padding-bottom: 3.0em;
}
section#team {
  background-color: white;
  padding: 5em 0em 0em;;
  margin: 0em 0em;
}
#team .section-heading,
#team .section-subheading {
  width: 60%;
  margin: 0em auto;
  color: black;
}
#team .section-subheading {
  padding-bottom: 7.5em;
}
.team-member {
  color: #5c2eb1;
  text-align: center;
  margin-bottom: 4em;
}
.team-member img.circle.img-responsive {
  margin: 0 auto;
  width: 10em;
  height: 10em;
  object-fit: cover;
  border: solid white;
  border-radius: 50%;
}
.team-member h3 {
  color: #5c26b4;
  margin-top: 1.0em;
  text-transform: none;
}
.team-member h6 {
  color: #7e187c;
  text-transform: uppercase;
  margin: 0 auto 0.5em;
  width: 65%;
}
.team-member p {
  margin-top: 0;
  color: black;
  width: 45%;
  margin: 0 auto 0.5em;
}
@media (min-width: 768px){
  .team-member p {
    width: 60%;
  }
  #team .section-heading,
  #team .section-subheading {
    width: 45%;
  }
}
section#clients {
  background-color: #5c26b4;
  padding: 1em 0em;
}
section#contact {
  padding-top: 5em;
  background-color: #222222;
}
section#contact .section-heading {
  color: white;
  margin-bottom: 0em;
}
section#contact .section-subheading {
  color: #585858;
  width: 60%;
  margin: auto;
  padding-bottom: 3em;
}
section#contact .form-group {
  margin-bottom: 0.5em;
  color: white;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 1em;
  border-color: #222222;
}
section#contact .form-group input.form-control {
  background-color: #333333;
}
section#contact .form-group textarea.form-control {
  height: 15em;
  background-color: #333333;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #7e7e7e;
}
section#contact :-moz-placeholder {
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #7e7e7e;
}
section#contact ::-moz-placeholder {
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #7e7e7e;
}
section#contact :-ms-input-placeholder {
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #7e7e7e;
}
section#contact [id^="contact-"]:first-child h5 {
  padding-top: 1.0em;
}
section#contact [id^="contact-"] h5 {
  color: white;
  display: block;
  float: left;
  padding-bottom: 0.3em;
}
#contact a {
  color: #7a7a7a;
}
.section-description {
  display: block;
  clear: left;
  color: #7a7a7a;
}
footer {
  text-align: center;
  background-color: #1f1f1f;
}
footer span.copyright {
  border-top: 0.1em solid #7a7a7a;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: Arial, sans-serif;
  text-align: left;
  float: left;
  color: #7a7a7a;
}
footer .section-subheading {
  text-align: left;
  color: white;
}
footer ul.quicklinks {
  margin-bottom: 0;
  text-align: left;
  color: #7a7a7a;
  font-family: Arial, sans-serif;
  list-style: none;
  float:left;
}
@media (max-width: 767px) {
  footer div.row:first-child div:last-child {
    margin-top: -10em;
  }
}
footer ul.quicklinks li {
  text-align: left;
  margin-left: -2.5em;
}
footer ul.quicklinks li:last-child {
  padding-bottom: 2em;
}
footer a{
  color: #7a7a7a;
}
ul.social-buttons li a {
  display: block;
  background-color: #5b25b1;
  height: 1.3em;
  width: 1.3em;
  border-radius: 20%;
  color: white;
}
footer {
  text-align: center;
  background-color: #1f1f1f;
}
footer span.copyright {
  border-top: 0.1em solid #7a7a7a;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: Arial, sans-serif;
  text-align: left;
  float: left;
  color: #7a7a7a;
}
footer .section-subheading {
  text-align: left;
  color: white;
}
footer ul.quicklinks {
  margin-bottom: 0;
  text-align: left;
  color: #7a7a7a;
  font-family: Arial, sans-serif;
  list-style: none;
  float:left;
}
@media (max-width: 767px) {
  footer div.row:first-child div:last-child {
    margin-top: -10em;
  }
}
footer ul.quicklinks li {
  text-align: left;
  margin-left: -2.5em;
}
footer ul.quicklinks li:last-child {
  padding-bottom: 2em;
}
footer a{
  color: #7a7a7a;
}
